CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_MACH_SUN8I_H3=y
CONFIG_DRAM_CLK=672
CONFIG_DRAM_ZQ=3881979
CONFIG_DRAM_ODT_EN=y
CONFIG_MMC0_CD_PIN="PF6"
# CONFIG_VIDEO is not set
CONFIG_DEFAULT_DEVICE_TREE="sun8i-h3-orangepi-linux"
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_SPL=y
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_FPGA is not set
CONFIG_USB_EHCI_HCD=y
CONFIG_LOCALVERSION="-cazure"
CONFIG_SYS_PROMPT="u-boot@orangepi#"
CONFIG_BOOTDELAY=3
CONFIG_LED=y
CONFIG_LED_GPIO=y
CONFIG_ARMV7_BOOT_SEC_DEFAULT=y
CONFIG_OLD_SUNXI_KERNEL_COMPAT=y
